.App {
  font-family: sans-serif;
  line-height: 1.5;
}

.is-centered {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 1px;
}

.has-text {
  background-color: #eeffcc;
}

code,
kbd {
  background-color: #eee;
  padding: 4px;
  font-size: 1.2em;
}

ul {
  list-style: none;
}